* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "myfonts";
}

#nav-bar {
    width: 100%;
    height: 80px;
    /* background-color: rgb(5, 5, 24); */
    background-color: #151f3b;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 2;
    top: 0%;
}

.logo {
    width: 15%;
    height: 80px;
    text-align: center;
}

.input {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input > input {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
}

.input > input::placeholder {
    font-size: larger;
    letter-spacing: 1px;
}

.input-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e12828;
    font-size: large;
    height: 40px;
    width: 40px;
}

.icons {
    width: 10%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.hero-section {
    margin-top: 100px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-categ {
    width: 25%;
    height: 200px;
    margin-left: 10px;
    background-color: darkblue;
}
@media(max-width:400px){
    .hero-section{
        justify-content: left;
    }
    .all-categ{
        width: 100%;
        margin-left: 0;
    }
   
}
.all-categ > ul {
    margin-left: 20px;
}

.all-categ > ul li {
    margin-top: 15px;
    list-style-type: none;
}

.all-categ > h4 {
    background-color: #4169E1;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
}

.all-categ > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bolder;
}

.box2 {
    margin-left: 30px;
    width: 70%;
    height: 100%;
    box-sizing: border-box; 
}

.laptop-image {
    position: relative;
}

.digital-glory {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    top: 44%;
}

.digital-glory > h3 {
    color: white;
    opacity: 1;
    letter-spacing: 10px;
    text-align: center;
}



#smart-phones {
    margin-top: 30px;
    height: 40px;
    width: 40%;
    background-color: rgb(5, 5, 24);
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#smart-phones > h1 {
    margin-left: 30px;
}

.smart-phones-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

@font-face {
    font-family: "myfonts";
    src: url(./fonts/Exo2-Italic-VariableFont_wght.ttf);
}

.smart-phone-box {
    position: relative;
    width: 190px;
    height: 210px;
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smart-phone-box > img:hover {
    transform: scale(1.03);
    transition-duration: 1s;
}

.spb {
    background-color: #4169E1;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.laptop-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    text-align: center;
    gap: 5px;
}

.laptop {
    width: 300px;
    height: 280px;
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.laptop > img {
    margin: 0 auto;
    display: block;
}

.laptop > img:hover {
    transform: scale(1.05);
    transition-duration: 1s;
}

#laptop-trend {
    width: 130px;
    height: 40px;
    color: white;
    margin-top: 3px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop-info {
    color: white;
    background-color: #4169E1;
    width: 100%;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smart-watches {
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.smart-watch-box {
    width: 450px;
    height: 200px;
    background-color: #C0C0C0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.smart-watch-box:hover {
    transform: translate3d(2px, -2px, 10px);
}

.smart-watch-info {
    width: 50%;
}

.smart-watch-info > h2 {
    background-color: #4169E1;
    color: white;
    text-align: center;
}

footer {
    margin-top: 30px;
    width: 100%;
    height: 100px;
    background-color: #efeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-icons {
    height: fit-content;
    font-size: 2rem;
}

.copyright {
    margin-top: 0;
}

.copyright > h4 {
    color: grey;
    margin-top: 10px;
}
@media (max-width: 400px) {
    .box2 {
        width: 100%; /* Adjust width for smaller viewports */
        margin-top: 10px; 
        margin-left: 0;
    }
    .digital-glory > h3{
        letter-spacing: 0px;
    }
    #smart-phones{
        width: 100%;
    }
    .smart-phones-section {
        gap: 15px;
    }
.smart-watch-box {
    justify-content: space-around;
}
}